In [1]:
 %load_ext sql

In [2]:
%sql sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db

## Get table of just URLs logs from ActivityWatch

In [3]:
%%sql
select  json_extract(datastr,'$.url') as json_object 
from eventmodel 
where typeof(json_object) != 'null'
LIMIT 10;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('chrome://newtab/',),
 ('https://duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web',),
 ('chrome://newtab/',),
 ('http://localhost:5600/#/timeline',),
 ('',),
 ('chrome://newtab/',),
 ('https://www.linkedin.com/',),
 ('',),
 ('chrome://newtab/',),
 ('https://duckduckgo.com/?q=Alernative+to+Sessionbox&t=brave&ia=web',)]

## Practice Slicing and Dicing the URLs to get domain names

In [4]:
%%sql
select  json_extract(datastr,'$.url') as URLs, instr(  json_extract(datastr,'$.url')  , '/') as slash_pos_in_url
from eventmodel 
where typeof(URLs) != 'null'
LIMIT 10;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('chrome://newtab/', 8),
 ('https://duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web', 7),
 ('chrome://newtab/', 8),
 ('http://localhost:5600/#/timeline', 6),
 ('', 0),
 ('chrome://newtab/', 8),
 ('https://www.linkedin.com/', 7),
 ('', 0),
 ('chrome://newtab/', 8),
 ('https://duckduckgo.com/?q=Alernative+to+Sessionbox&t=brave&ia=web', 7)]

In [5]:
%%sql
select  json_extract(datastr,'$.url') as URLs, 
  substr ( json_extract(datastr,'$.url') , instr(  json_extract(datastr,'$.url')  , '/') ) as url_substring 
from eventmodel 
where typeof(URLs) != 'null'
LIMIT 10;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('chrome://newtab/', '//newtab/'),
 ('https://duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web', '//duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web'),
 ('chrome://newtab/', '//newtab/'),
 ('http://localhost:5600/#/timeline', '//localhost:5600/#/timeline'),
 ('', ''),
 ('chrome://newtab/', '//newtab/'),
 ('https://www.linkedin.com/', '//www.linkedin.com/'),
 ('', ''),
 ('chrome://newtab/', '//newtab/'),
 ('https://duckduckgo.com/?q=Alernative+to+Sessionbox&t=brave&ia=web', '//duckduckgo.com/?q=Alernative+to+Sessionbox&t=brave&ia=web')]

In [6]:
%%sql
select  json_extract(datastr,'$.url') as URLs, 
  substr ( json_extract(datastr,'$.url') , instr(  json_extract(datastr,'$.url')  , '/') + 2 ) as url_substring 
from eventmodel 
where typeof(URLs) != 'null'
LIMIT 20;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('chrome://newtab/', 'newtab/'),
 ('https://duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web', 'duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web'),
 ('chrome://newtab/', 'newtab/'),
 ('http://localhost:5600/#/timeline', 'localhost:5600/#/timeline'),
 ('', ''),
 ('chrome://newtab/', 'newtab/'),
 ('https://www.linkedin.com/', 'www.linkedin.com/'),
 ('', ''),
 ('chrome://newtab/', 'newtab/'),
 ('https://duckduckgo.com/?q=Alernative+to+Sessionbox&t=brave&ia=web', 'duckduckgo.com/?q=Alernative+to+Sessionbox&t=brave&ia=web'),
 ('https://www.remote.tools/sessionbox/alternatives', 'www.remote.tools/sessionbox/alternatives'),
 ('https://alternativeto.net/software/session-box/', 'alternativeto.net/software/session-box/'),
 ('https://alternativeto.net/software/tab-session-manager/about/', 'alternativeto.net/software/tab-session-manager/about/'),
 ('https://alternativeto.net/software/session-box/', 'alternativeto.net/software/session-box/'),
 ('https://www.linkedin.com/feed/?trk=homepage-basic_signin-form_submit', 'www.linkedin.com/feed/?trk=homepage-basic_signin-form_submit'),
 ('https://www.linkedin.com/feed/?trk=homepage-basic_signin-form_submit', 'www.linkedin.com/feed/?trk=homepage-basic_signin-form_submit'),
 ('', ''),
 ('chrome://newtab/', 'newtab/'),
 ('https://duckduckgo.com/?q=how+to+wish+someone+well+with+a+sick+loved+one&t=brave&ia=web', 'duckduckgo.com/?q=how+to+wish+someone+well+with+a+sick+loved+one&t=brave&ia=web'),
 ('https://www.joincake.com/blog/what-to-say-to-someone-who-has-a-sick-family-member/', 'www.joincake.com/blog/what-to-say-to-someone-who-has-a-sick-family-member/')]

## Substring is hard to work with there has to be a way to split a string using a delimiter

Source: [How to Split String into Array? : sqlite](https://old.reddit.com/r/sqlite/comments/s4b29t/how_to_split_string_into_array/)

In [7]:
%%sql
select foods.value 
from json_each('["' || replace('coffee:apple:orange', ':', '","') || '"]') as foods;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('coffee',), ('apple',), ('orange',)]

In [8]:
%%sql
select domain_name.value
from json_each('["' || replace('https://www.sqlite.org/lang_expr.html#regexp', '/', '","') || '"]') as domain_name;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('https:',), ('',), ('www.sqlite.org',), ('lang_expr.html#regexp',)]

In [9]:
%%sql
select  json_extract(datastr,'$.url') as json_object 
from eventmodel 
where typeof(json_object) != 'null'
LIMIT 1 OFFSET 10;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('https://www.remote.tools/sessionbox/alternatives',)]

In [10]:
%%sql
select domain_name.value
from json_each('["' || replace(
        (select  json_extract(datastr,'$.url') as json_object 
        from eventmodel 
        where typeof(json_object) != 'null'
        LIMIT 1 OFFSET 10)
, '/', '","') || '"]') as domain_name;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('https:',), ('',), ('www.remote.tools',), ('sessionbox',), ('alternatives',)]

In [11]:
%%sql
select domain_name.value
from json_each('["' || replace(
        (select  json_extract(datastr,'$.url') as json_object 
        from eventmodel 
        where typeof(json_object) != 'null'
        LIMIT 1 OFFSET 10)
, '/', '","') || '"]') as domain_name
LIMIT 1 OFFSET 2;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('www.remote.tools',)]

## Extract domain name from every URL

In [12]:
%%sql
select  json_extract(datastr,'$.url') as URLs, 
(
    select domain_name.value
    from json_each('["' || replace('https://www.sqlite.org/lang_expr.html#regexp', '/', '","') || '"]') as domain_name LIMIT 1 OFFSET 2
) as test_domain_string
from eventmodel 
where typeof(URLs) != 'null'
limit 5;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('chrome://newtab/', 'www.sqlite.org'),
 ('https://duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web', 'www.sqlite.org'),
 ('chrome://newtab/', 'www.sqlite.org'),
 ('http://localhost:5600/#/timeline', 'www.sqlite.org'),
 ('', 'www.sqlite.org')]

In [13]:
%%sql
select  json_extract(datastr,'$.url') as URLs, 
(
    select domain_name.value
    from json_each('["' || replace(json_extract(datastr,'$.url'), '/', '","') || '"]') as domain_name LIMIT 1 OFFSET 2
) as domain_name
from eventmodel 
where typeof(URLs) != 'null'
limit 5;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('chrome://newtab/', 'newtab'),
 ('https://duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web', 'duckduckgo.com'),
 ('chrome://newtab/', 'newtab'),
 ('http://localhost:5600/#/timeline', 'localhost:5600'),
 ('', None)]

## Aggregation Time

In [14]:
%%sql
select
(
    select domain_name.value
    from json_each('["' || replace(json_extract(datastr,'$.url'), '/', '","') || '"]') as domain_name LIMIT 1 OFFSET 2
) as domain_name
from eventmodel 
where typeof(json_extract(datastr,'$.url')) != 'null'
limit 5;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('newtab',), ('duckduckgo.com',), ('newtab',), ('localhost:5600',), (None,)]

In [15]:
%%sql
select
(
    select domain_name.value
    from json_each('["' || replace(json_extract(datastr,'$.url'), '/', '","') || '"]') as domain_name LIMIT 1 OFFSET 2
) as domain_name
from eventmodel 
where typeof(json_extract(datastr,'$.url')) != 'null'
GROUP BY domain_name
limit 5;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[(None,),
 ('',),
 ('%20www.thinkbydoing.org',),
 ('0.0.0.0:5001',),
 ('0.0.0.0:8000',)]

## Query domain names specifically

In [16]:
%%sql
/* List all distinct domain names */
select
DISTINCT (
    select domain_name.value
    from json_each('["' || replace(json_extract(datastr,'$.url'), '/', '","') || '"]') as domain_name LIMIT 1 OFFSET 2
) as distinct_domain_names
from eventmodel 
where typeof(json_extract(datastr,'$.url')) != 'null'
limit 5;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('newtab',),
 ('duckduckgo.com',),
 ('localhost:5600',),
 (None,),
 ('www.linkedin.com',)]

In [17]:
%%sql
/* Count total of all distinct domain names */
select
COUNT(DISTINCT (
    select domain_name.value
    from json_each('["' || replace(json_extract(datastr,'$.url'), '/', '","') || '"]') as domain_name LIMIT 1 OFFSET 2
)) as count_distinct_domain_names
from eventmodel 
where typeof(json_extract(datastr,'$.url')) != 'null'
limit 5;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[(5148,)]

In [18]:
%%sql
/* Count toal of all URLs */
select
COUNT( (
    select domain_name.value
    from json_each('["' || replace(json_extract(datastr,'$.url'), '/', '","') || '"]') as domain_name LIMIT 1 OFFSET 2
)) as count_all_domain_names
from eventmodel 
where typeof(json_extract(datastr,'$.url')) != 'null'
limit 5;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[(263310,)]

In [19]:
%%sql
/* Count the number of times each domain name shows up */
select
DISTINCT (
    select domain_name.value
    from json_each('["' || replace(json_extract(datastr,'$.url'), '/', '","') || '"]') as domain_name LIMIT 1 OFFSET 2
) as distinct_domain_names, COUNT(*) as visits
from eventmodel 
where typeof(json_extract(datastr,'$.url')) != 'null'
GROUP BY distinct_domain_names
ORDER BY visits DESC
limit 20;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[(None, 24563),
 ('www.youtube.com', 18993),
 ('old.reddit.com', 15850),
 ('discord.com', 13932),
 ('classroom.udacity.com', 11153),
 ('newtab', 10506),
 ('www.lootverse.gg', 8074),
 ('github.com', 6906),
 ('duckduckgo.com', 6693),
 ('mail.protonmail.com', 6146),
 ('search.brave.com', 5779),
 ('web.whatsapp.com', 5729),
 ('localhost:8888', 5071),
 ('docs.google.com', 4599),
 ('www.netflix.com', 4567),
 ('mail.google.com', 4221),
 ('twitter.com', 4153),
 ('news.ycombinator.com', 3911),
 ('www.instagram.com', 3265),
 ('loot.nftically.com', 3120)]