In [1]:
 %load_ext sql

In [4]:
%sql sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db

In [5]:
%%sql
select  json_extract(datastr,'$.url') as json_object 
from eventmodel 
where typeof(json_object) != 'null'
LIMIT 10;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('chrome://newtab/',),
 ('https://duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web',),
 ('chrome://newtab/',),
 ('http://localhost:5600/#/timeline',),
 ('',),
 ('chrome://newtab/',),
 ('https://www.linkedin.com/',),
 ('',),
 ('chrome://newtab/',),
 ('https://duckduckgo.com/?q=Alernative+to+Sessionbox&t=brave&ia=web',)]

In [9]:
%%sql
select  timestamp, json_extract(datastr,'$.url') as json_object 
from eventmodel 
where typeof(json_object) != 'null'
LIMIT 10;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('2021-09-04 13:09:15.574000+00:00', 'chrome://newtab/'),
 ('2021-09-04 13:10:15.752000+00:00', 'https://duckduckgo.com/?q=The+secret+language+of+relationships&t=brave&ia=web'),
 ('2021-09-04 13:10:32.455000+00:00', 'chrome://newtab/'),
 ('2021-09-04 13:10:37.442000+00:00', 'http://localhost:5600/#/timeline'),
 ('2021-09-04 13:12:38.116000+00:00', ''),
 ('2021-09-04 13:12:42.464000+00:00', 'chrome://newtab/'),
 ('2021-09-04 13:13:02.469000+00:00', 'https://www.linkedin.com/'),
 ('2021-09-04 13:13:04.921000+00:00', ''),
 ('2021-09-04 13:13:07.470000+00:00', 'chrome://newtab/'),
 ('2021-09-04 13:13:12.471000+00:00', 'https://duckduckgo.com/?q=Alernative+to+Sessionbox&t=brave&ia=web')]

In [33]:
%%sql
select  timestamp, json_extract(datastr,'$.url') as json_object 
from eventmodel 
where typeof(json_object) != 'null'
AND timestamp < date('2022-07-06')
ORDER BY timestamp desc
LIMIT 10;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('2022-07-05 07:39:22.341000+00:00', 'https://www.smbc-comics.com/comic/quantum-computer'),
 ('2022-07-05 07:39:17.338000+00:00', 'https://www.smbc-comics.com/comic/quantum-computer'),
 ('2022-07-05 07:38:17.314000+00:00', 'https://www.smbc-comics.com/comic/time-traveling-punishment'),
 ('2022-07-05 07:17:51.866000+00:00', 'https://9anime.id/watch/trapped-in-a-dating-sim-the-world-of-otome-games-is-tough-for-mobs-dub.ll30m/ep-7'),
 ('2022-07-05 07:17:21.856000+00:00', 'https://9anime.id/watch/trapped-in-a-dating-sim-the-world-of-otome-games-is-tough-for-mobs-dub.ll30m/ep-7'),
 ('2022-07-05 07:17:16.855000+00:00', 'https://9anime.id/watch/trapped-in-a-dating-sim-the-world-of-otome-games-is-tough-for-mobs-dub.ll30m/ep-7'),
 ('2022-07-05 07:17:11.854000+00:00', 'https://www.smbc-comics.com/comic/the-criterion-of-embarrassment'),
 ('2022-07-05 07:16:56.847000+00:00', 'https://www.smbc-comics.com/comic/bedroom-experimentation'),
 ('2022-07-05 07:16:51.850000+00:00', 'https://www.smbc-comics.com/comic/bedroom-experimentation'),
 ('2022-07-05 07:16:21.818000+00:00', 'https://www.smbc-comics.com/comic/geoengineering')]

In [47]:
%%sql
select  
    strftime('%m-%Y',timestamp) as Month, 
    count(strftime('%m',timestamp)) as num_events_per_month
from eventmodel 
GROUP BY Month
LIMIT 10;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('01-2022', 119003),
 ('02-2022', 107502),
 ('03-2022', 62747),
 ('04-2022', 48177),
 ('05-2022', 22885),
 ('06-2022', 6439),
 ('07-2022', 14145),
 ('08-2022', 8973),
 ('09-2021', 54653),
 ('10-2021', 61353)]

In [71]:
%%sql
select 
    strftime('%m-%Y %H',timestamp) as AWDateTime,
    COUNT(  strftime('%m-%Y %H',timestamp) ) as EventsPerHour
from eventmodel 
WHERE timestamp > DATE('2022-06-06')
AND   timestamp < DATE('2022-06-20')
GROUP BY AWDateTime
ORDER BY AWDateTime
LIMIT 20;

 * sqlite:////media/paul/LinuxStuff/Mega/QuantifiedSelf/ActivityWatch/peewee-sqlite.v2.db
Done.

[('06-2022 03', 1),
 ('06-2022 09', 1),
 ('06-2022 13', 148),
 ('06-2022 14', 145),
 ('06-2022 15', 19),
 ('06-2022 16', 358),
 ('06-2022 17', 174),
 ('06-2022 18', 594),
 ('06-2022 19', 1101),
 ('06-2022 20', 994),
 ('06-2022 21', 1241),
 ('06-2022 22', 52),
 ('06-2022 23', 104)]